html {
    font-family: Lora, Trebuchet, sans-serif;
  }
#firstRow {
  border: 1px black solid;
  display: flex;
}
#favHeroImage {

}
#heroTaskContainer {

}

#secondStepWhichHero,
#thirdStepChooseTasks,
#fourthStepDoTasks,
#fifthStepReward {
  display: none;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
