html {
    font-family: Lora, Trebuchet, sans-serif;
}

a.brand-logo {
  color: #0a0f47;
}

.btn-large {
  background-color: #ed217c;
  width: 200px;
  margin: 10px;
  padding: 5px;
}

#start {
  background-color: #1b998b;
}

#firstRow {
  display: flex;
}

#favHeroImage {
  margin: auto;
  margin-left: 10px;
}

#startButton{
  margin: auto;
  margin-right: 10px;
}

#secondStepWhichHero,
#thirdStepChooseTasks,
#fourthStepDoTasks,
#fifthStepGetReward {
  display: none;
}

#back {
  display:none;
}

.nav-wrapper{
  background-color: #ff9b71;
}

.containerTasks {
  display: flex;
  justify-content: space-between;
}

.bigTaskImages {
  flex-basis: 30%;
}
